.mod_nav {
    display: flex;
    align-items: center;
    a{
        flex: 1;
        display: block;
        position: relative;
        height: $nav-a-height;
        line-height: $nav-a-height;
        color: $nav-a-color;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        &.current{
            color:  $nav-item-active;
        }
        &.current::after{
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background: $nav-item-active;
        }
    }
}

.tab_content{
    display: none;
}

